<div class="row" *ngIf="userType=='freelancer'">
  <div class="col-xxl-4">
    <nb-card>
      <nb-card-header>Total Earnings</nb-card-header>
      <nb-card-body>
        <h1>LKR 40,000</h1>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxl-4">
    <nb-card>
      <nb-card-header>Hours Worked</nb-card-header>
      <nb-card-body>
        <h1>124 Hours</h1>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxl-4">
    <nb-card>
      <nb-card-header>Time Slot Allocated</nb-card-header>
      <nb-card-body>
        <h1>10AM - 4PM</h1>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row mb-4 pull-right" *ngIf="userType!=='freelancer'">
  <div class="col-md-4">
    <nb-select placeholder="Select Social Media" [(selected)]="selectedSocialMedia"
      nbTooltip="Select your social media here">
      <nb-option value="facebook">Facebook</nb-option>
      <nb-option value="instagram">Instagram</nb-option>
      <nb-option value="twitter" (click)="signIn()">Twitter</nb-option>
    </nb-select>
  </div>
</div>

<div class="row" *ngIf="selectedSocialMedia==='twitter' && userType!=='freelancer'">
  <div class="col-xxl-12">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>


</div>

<div class="row" *ngIf="selectedSocialMedia==='twitter' && userType!=='freelancer'">
  <div class="col-xxl-6">
    <ngx-user-activity></ngx-user-activity>
  </div>
  <div class="col-xxl-6">
    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>
</div>