<div class="row" *ngIf="userType=='freelancer'">
  <div class="col-xxl-4">
    <nb-card>
      <nb-card-header>Total Earnings</nb-card-header>
      <nb-card-body>
        <h1>LKR 40,000</h1>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxl-4">
    <nb-card>
      <nb-card-header>Hours Worked</nb-card-header>
      <nb-card-body>
        <h1>124 Hours</h1>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxl-4">
    <nb-card>
      <nb-card-header>Time Slot Allocated</nb-card-header>
      <nb-card-body>
        <h1>10AM - 4PM</h1>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>

  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>