<div class="nav justify-content-center">
  <div class="menu-holder">
    <i (click)="openNav()" class="fas fa-bars"></i>
  </div>
  <img src="../assets/images/logo.svg" alt="">
</div>

<div id="mySidenav" class="sidenav" [ngClass]="navBarStatus ? 'active' : 'inactive'">
  <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a> -->
  <div class="menu-holder">
    <i (click)="openNav()" class="fas fa-bars"></i>
  </div>

  <!-- menu item -->
  <div class="menu-item" routerLink="/trends" routerLinkActive="active">
    <div class="logo">
      <div class="circle">
        <i class="fas fa-poll"></i>
      </div>
    </div>
    <div class="item-name">
      Keep up with
      trends
    </div>
  </div>
  <!-- /menu item -->

  <!-- menu item -->
  <div class="menu-item" routerLink="/Competitor" routerLinkActive="active">
    <div class="logo">
      <div class="circle">
        <i class="fas fa-poll"></i>
      </div>
    </div>
    <div class="item-name">
      Competitor
      analysis
    </div>
  </div>
  <!-- /menu item -->

  <!-- menu item -->
  <div class="menu-item" routerLink="/DigitalMarket" routerLinkActive="active">
    <div class="logo">
      <div class="circle">
        <i class="fas fa-poll"></i>
      </div>
    </div>
    <div class="item-name">
      Digital marketing
      guide
    </div>
  </div>
  <!-- /menu item -->

  <!-- menu item -->
  <div class="menu-item" routerLink="/postCreation" routerLinkActive="active">
    <div class="logo">
      <div class="circle">
        <i class="fas fa-poll"></i>
      </div>
    </div>
    <div class="item-name">
      Post
      creation
    </div>
  </div>
  <!-- /menu item -->

  <!-- menu item -->
  <div class="menu-item" routerLink="/socialMedia" routerLinkActive="active">
    <div class="logo">
      <div class="circle">
        <i class="fas fa-poll"></i>
      </div>
    </div>
    <div class="item-name">
      Social media
      management
    </div>
  </div>
  <!-- /menu item -->

  <!-- menu item -->
  <div class="menu-item" routerLink="/talkToPro" routerLinkActive="active">
    <div class="logo">
      <div class="circle">
        <i class="fas fa-poll"></i>
      </div>
    </div>
    <div class="item-name">
      Keep up with
      trends
    </div>
  </div>
  <!-- /menu item -->
</div>

<!-- Use any element to open the sidenav -->


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main" class="container body" [ngClass]="navBarStatus ? 'active' : 'inactive'">
  <router-outlet></router-outlet>
</div>