
$feature-slider-width: 700px;
$feature-slider-width-lg: 600px;
$feature-slider-width-md: 700px;

.feature-slider {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 120px 80px;
  width: $feature-slider-width;
  height: 100%;
  color: white;
  background: #388FFF;
  transition: width .1s ease-in-out;

//   @media screen and (max-width: ($desktop-lg - 1)) {
//     width: $feature-slider-width-lg;    
//   }

//   @media screen and (max-width: ($desktop-md)) {
//     display: none;  
//   }

  // @include media-breakpoint-down(md) {
  //   padding: 80px 80px;
  // }

  // * Slide items
  .slide-items {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  // * Slide item
  .slide-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    // Slide item text content
    &--text-content {
      position: absolute;
      bottom: 120px;
      margin-bottom: 60px;
      padding: 0 80px;

      // Play Icon
      .icon {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 75px;
        cursor: pointer;
      }

      // Main headnig
      .main-heading {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
      }

      // Secondary paragraph
      .secondary-paragraph {
        display: inline-block;
        width: 100%;
        margin: 0;
        font-size: 10px;
        font-weight: 300;
        line-height: 24px;
      }
    }
  }

  // * Slide controller
  .slide-controller {
    position: absolute;
    right: 80px;
    bottom: 120px;
    left: 80px;

    &--bullets {
      margin: 0 -3px;
      padding: 0;
      list-style: none;
    }

    &--bullet {
      display: inline;
      padding: 0 3px;

      span {
        display: inline-block;
        width: 38px;
        height: 5px;
        background-color: color("white");
        border-radius: 70px;
        cursor: pointer;
      }

      &__active {
        span {
        //   background-color: darken($primary, 20%)
        }
      }
    }
  }
}