<!-- Feature slider start -->
<section class="feature-slider">

  <!-- Slide items start -->
  <div class="slide-items">

    <!-- Slide item start -->
    <div class="slide-item">

      <!-- Text content start -->
      <div class="slide-item--text-content">
        <span class="icon mdi mdi-play-circle"></span>
        <h3 class="main-heading">Enterprise resource planning made easy</h3>
        <p class="secondary-paragraph">Organization tasks made easy, fast, and scalable.</p>
      </div>
      <!-- Text content end -->
    </div>
    <!-- Slide item end -->
  </div>
  <!-- Slide items end -->

  <!-- Slide controller start -->
  <div class="slide-controller">
    <ul class="slide-controller--bullets">
      <li class="slide-controller--bullet slide-controller--bullet__active">
        <span></span>
      </li>
      <li class="slide-controller--bullet">
        <span></span>
      </li>
      <li class="slide-controller--bullet">
        <span></span>
      </li>
    </ul>
  </div>
  <!-- Slide controller end -->
</section>
<!-- Login - Feature slider end -->