// Zulu color palatte

// Text colors
$text-active: #25265E;
$text-default: #787993;
$text-secondary: #D0D0D4;

// Theme primary colors
$primary-active: #0078ff;
$primary-default: #ee0979;
$primary-secondary: rgba($primary-default,0.10);

// Theme secondary
$secondary-active: #7540EE;
$secondary-default: #A480F6;
$secondary-secondary: rgba($secondary-default,0.10);

// Theme danger
$danger-active: #EB4335;
$danger-default: #FF7052;
$danger-secondary: rgba($danger-default,0.10);

// Theme success
$success-active: #2DC76D;
$success-default: #5FCD64;
$success-secondary: rgba($success-default,0.10);

// Theme warning
$warning-active: #FFC800;
$warning-default: #FBBC05;
$warning-secondary: rgba($warning-default,0.10);

$app-priority:        #17233c !default;
$app-primary:         #0078FF !default;
$app-secondary:       darken(#428bca, 6.5%) !default; // #337ab7
$app-success:         $success-active !default;
$app-info:            #5bc0de !default;
$app-default:         #6e7d9c !default;
$app-warning:         $danger-active !default;
$app-danger:          $danger-active !default;
$app-dark: 		  	  #1b2631;
$app-dark-light:  	  lighten(#1b2631, 4%);

$text-primary-color : #6e7d9c;
$text-priority-color : #17233c;
$text-secondary-color : #8a93a6;
$text-title-color : #304e66;
$text-minority-color : #7b97ad;


$app-default-border: #dee8f2;
$app-input-border: #dde4ea;
$separator-color: #edf4f9;

$theme-border-color : #ebedf2;
