<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Facebook</a>
    <a class="dropdown-item" href="#">Instagram</a>
    <a class="dropdown-item" href="#">Twitter </a>
  </div>
</div>

<div class="post-creating">
  <p>Create your post</p>
  <textarea rows="4" cols="100%">

      </textarea>

</div>

<div class="suggested-words">
  <p>Suggested words</p>
  <br>
  <div class="tag-holder">
    <a href="#" class="tag">Analysis</a>
    <a href="#" class="tag">Analysis</a>
    <a href="#" class="tag">Analysis</a>
    <a href="#" class="tag">Analysis</a>

  </div>

</div>

<div class="suggested-hashtags">
  <p>Suggested hashtags</p>
  <div class="tag-holder">
    <a href="#" class="tag">#test</a>
    <a href="#" class="tag">#test</a>
    <a href="#" class="tag">#test</a>
  </div>
</div>