<div class="container">

  <div class="row">
    <!-- Onboarding content start -->
    <div class="onboarding-content">

      <!-- Onboarding content header start -->
      <div class="onboarding-content--header">
        <h3 class="page-title">Sign into Time plus</h3>
        <p class="page-description">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
      </div>
      <!-- Onboarding content header end -->

      <!-- Onboarding content body start -->
      <div class="onboarding-content--body">

        <!-- Notifications start -->
        <div class="notifications" *ngIf="errorMsg">
          <div class="alert alert-danger-active alert-dismissible fade show" role="alert">
            <span class="alert-icon">
              <img src="assets/icons/warning-alt.svg">
            </span>
            <span class="alert-text">{{errorMsg}}</span>
            <button type="button" class="close" (click)="dissmissError()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <!-- Notifications end -->

        <!-- Form start -->
        <form class="form login-form">

          <div class="form-group">
            <label for="loginUsername">Username</label>
            <input type="text" class="form-control" formControlName="username" id="loginUsername"
              placeholder="e.g. 0001">
          </div>


          <div class="form-group">
            <label for="loginPassword">Password</label>
            <input type="password" class="form-control" id="loginPassword" formControlName="password"
              placeholder="● ● ● ● ●">
          </div>

          <div class="form-group misc-box">
            <div class="form-check remember-me">
              <input type="checkbox" class="form-check-input" id="rememberMe" checked>
              <label class="form-check-label" for="rememberMe">Remember me</label>
            </div>

            <a routerLink="/forgot-password" class="forgot-password-link">Forgot password</a>
          </div>

          <button type="submit" class="btn btn-primary-active submit">Sign in</button>
        </form>
        <!-- Form end -->
      </div>
      <!-- Onboarding content body end -->

      <!-- Onboarding content footer start -->
      <div class="onboarding-content--footer">
        <p class="note">Don't have an account?
          <a routerLink="/sign-up">Request a one here</a>
        </p>
      </div>
      <!-- Onboarding content footer end -->
    </div>
    <!-- Onboarding content end -->
  </div>
  <!-- ./row -->
</div>
<!-- ./container -->