.card {
    width: auto;
    border: none;
    img {
        width: 20%;
    }

    .card-body {
        .card-title {
            font-size: 15px;
        }
        .profile-holder {
            float: left;

            span {
                font-size: 10px;
                padding-left: 20px;
            }
        }
    }
}