<nb-layout>
  <nb-layout-header>
    <div>
      <h1>DigiExpress</h1>
    </div>
    <div class="pull-right">
      <button nbButton outline status="info" routerLink="/app">Register</button>
      <button nbButton outline status="info" routerLink="/app">Login</button>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <header id="fullpage">

      <div class="app-section-two section">
        <div class="text-section-one">
        </div>
        <div class="text-section-two">
          Lorem ipsum dolor sit amet<br>
          consectetur
        </div>
        <!-- <div class="text-section-three">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
          rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo.
        </div> -->
      </div>


      <div class="app--seaction-portpholio">
        <div class="section-title">
          <h1>
            Lorem ipsum dolor sit amet
          </h1>
          <p>Here’s some of our recent work

          </p>
        </div>

        <div class="body-section">
          <div class="full-section">
            <div class="row">
              <div class="col-md-6">
                <div class="project-section left">
                  <div class="project-tagline">
                    Lorem ipsum dolor sit amet
                  </div>
                  <div class="project-des">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                    veritatis et quasi architecto beatae vitae dicta
                  </div>
                </div>
              </div>
              <div class="col-md-6 image-section">
                <div class="image-container lookbook">
                  <img src="./assets/images/img1.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="full-section blue">
            <div class="row reversed">
              <div class="col-md-6 image-section ">
                <div class="image-container">
                  <img src="./assets/images/img1.png" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="project-section right">
                  <div class="project-tagline">
                    Lorem ipsum dolor sit amet
                  </div>
                  <div class="project-des">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                    veritatis et quasi architecto beatae vitae dicta
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </nb-layout-column>

  <nb-layout-footer>
    <span class="created-by">Created by <b><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Thareef
          Bin Ubaid</a></b> 2019</span>
  </nb-layout-footer>
</nb-layout>